
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    font-size: 18px;
    color: #003958;
    font-weight: 600;
    transition: 0.3s;
}


body {
    height: 100vh;
    background: linear-gradient(180deg, #b9ddff, #a4ccff);
    position: relative;
    animation: fadeIn 1.5s ease-in-out;

    background-image:
        radial-gradient(circle at top left, rgba(255,255,255,0.55), transparent 70%),
        radial-gradient(circle at top right, rgba(255,255,255,0.55), transparent 70%),
        radial-gradient(circle at bottom left, rgba(255,255,255,0.55), transparent 70%),
        radial-gradient(circle at bottom right, rgba(255,255,255,0.55), transparent 70%);
}

.topbar {
    
    top: 0;
    width: 100%;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(230, 207, 207, 0.489);
    
}

.topbar h1 {
    font-size: 40px;
    color: #003a66;
    font-weight: 700;
}





.content {
    margin-top: 100px;
    padding: 40px;
    color: #00324f;
     
}

.content h2 {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
}


body {
    background: skyblue;

    
    background-image:
        radial-gradient(circle at top left, rgba(255,255,255,0.5), transparent 70%),
        radial-gradient(circle at top right, rgba(255,255,255,0.5), transparent 70%),
        radial-gradient(circle at bottom left, rgba(255,255,255,0.5), transparent 70%),
        radial-gradient(circle at bottom right, rgba(255,255,255,0.5), transparent 70%);
}


.topbar {
    background: rgba(255,255,255,0.7);
    padding: 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.topbar h1 {
    margin: 0;
    font-size: 36px;
    color: #003366;
}
.content{
align-items: center;
text-align:center;
justify-content: center;
background-color: skyblue;
 background-image:
        radial-gradient(circle at top left, rgba(255,255,255,0.5), transparent 70%),
        radial-gradient(circle at top right, rgba(255,255,255,0.5), transparent 70%),
        radial-gradient(circle at bottom left, rgba(255,255,255,0.5), transparent 70%),
        radial-gradient(circle at bottom right, rgba(255,255,255,0.5), transparent 70%);
}
.afbeeldingen   {
    border: skyblue(0, 0, 0)    5px solid;
border-radius: 5px;
padding: 10px;

margin: auto;
}

.karatebanden   {
   border: lichtblauw(0, 0, 0)    5px solid;
   border-radius: 5px;
    display: block;
    margin: 10px auto;
}

.container{
display : grid;
grid-template-columns: 1fr 1fr 1fr;

}


.klikker {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#count {
  font-size: 48px;
  margin-bottom: 10px;
}

.klikker button {
  font-size: 24px;
  padding: 15px 30px;

}